.span4.offset1
	h3 #{__('Edit your profile')}

		if((typeof errors != "undefined") && errors.length)
			p #{__('An error ocurred')}:
			each err in errors
				p(style="margin-left:20px") #{err}

		form.ajaxForm(method="POST", action="/api/users/" + user.id)
			.control-group
				input(name="name", type='text', placeholder='#{__('Name')}', value=user.name)
			.control-group
				input(name="email", type='text', placeholder='#{__('Email')}', value=user.email)
			.control-group
				textarea(name="bio", placeholder='#{__('Some about you')}') #{user.bio}
			.form-actions
				button.btn.primary.btn-success.pull-left(type="submit") #{__('Save changes')}
				a.cancel.btn.btn-cancel.pull-right(data-dismiss="modal") #{__('Cancel')}
