.container
 .row
  .span4.offset1.span-center
    div.boxxy
      h3.header #{__('Create project')}
  
      div
       
       
  
        form.ajaxForm(action="/api/projects/create", method="POST")
          .form-content
            a#ghImportBtn(href="#") #{__('Import from GitHub')}
            .control-group.hidden
              .controls
               input(type="text", class="input-large", placeholder="repo user/name", name="repo")
               button#searchGh.btn() #{__('Import')}
            .control-group
              .controls
                input(type="text", class="input-block-level", placeholder="#{__('Title')}", name="title")
  
            .control-group
              .controls
                textarea(class="input-block-level", id="description", name="description", rows="4", maxlength="400", placeholder="#{__('Description')}")
  
            .control-group
              .controls
                #dragdrop 
                  p #{__('Drag Photo Here')}
                  input(type="file", name="cover_fall", id="cover_fall")        
  
            .control-group
              .controls
                input(class="input-block-level", type="text", name="link", id="link", placeholder="#{__('Link')}")
  
            .control-group
              .controls
                input(class="input-block-level", type="text", name="tags", id="tags", placeholder="#{__('Tags')}")
            
            .control-group
              .controls
                input(class="input-block-level", type="text", name="gallery", id="gallery", placeholder="#{__('Imgur Gallery')}")
            
            .control-group
              .controls
                input(class="input-block-level", type="text", name="video", id="video", placeholder="#{__('Video')}")
            
            //.control-group
            //  .controls
            //    select(class="input-block-level", name="status", id="status")
            //      each status in statuses
            //        option(value=status)= status
            //
          .form-actions
  
            input.btn.primary.btn-success.pull-left(type="submit", value="#{__('Create project')}")
            a.cancel.btn.btn-cancel.pull-right(data-dismiss="modal") #{__('Cancel')}
  .span6(style="margin-top:20px;")
    div.well
      | !{md(dashboard.help)}
